{% extends "layout.html" %}
{% block content %}
	
	<a class="button signup" href="/profile">Let's get started</a>
	
	<div class="welcome">
		<h3>Autocheckin is a service that uses your location from Google Latitude to check you in on Foursquare.</h3>
		
		<ul>
			<li class="phones"><img src="static/welcome-phones.png" /><p>Your phone</p></li>
			<li class="magic"><img src="static/welcome-magic.png" /><p>Our magic</p></li>
			<li class="foursquare"><img src="static/foursquare_logo.jpg" /><p>Check-in</p></li>
		</ul>
	</div>
	

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script> 
	
{% endblock %}
